      <aside class="md:w-1/3 pl-2">
{% include "partials/search.html.twig" %}
        <section class="my-4">
          <h2 class="h-8 font-bold uppercase border-b-2 border-red-500">{{ i18n.getText('widget.recent_posts.title') }}</h2>
{% if widgets.recent_posts is not empty %}
          <ul class="my-2">
{% for item in widgets.recent_posts %}
            <li><a class="hover:text-red-600" href="{{ content.site.url }}/{{ item.key }}">{{ item.title }}</a></li>
{% endfor %}
          </ul>
{% else %}
          <p>{{ i18n.getText('no_posts_found') }}</p>
{% endif %}
        </section>
        <section class="my-4">
          <h2 class="h-8 font-bold uppercase border-b-2 border-red-500">{{ i18n.getText('widget.category_list.title') }}</h2>
{% if widgets.category_list is not empty %}
          <ul class="my-2">
{% for item in widgets.category_list %}
            <li><a class="hover:text-red-600" href="{{ content.site.url }}/{{ item.key }}">{{ item.title }}</a></li>
{% endfor %}
          </ul>
{% endif %}
        </section>
        <section class="my-4">
          <h2 class="h-8 font-bold uppercase border-b-2 border-red-500">{{ i18n.getText('widget.tag_list.title') }}</h2>
{% if widgets.tag_list is not empty %}
          <ul class="py-2">
{% for item in widgets.tag_list %}
            <li class="inline-grid bg-gray-800 text-white font-bold text-xs uppercase p-2 mx-0.5 my-1 hover:bg-red-600"><a href="{{ content.site.url }}/{{ item.key }}">{{ item.title }}</a></li>
{% endfor %}
          </ul>
{% else %}
          <p>{{ i18n.getText('no_tags_found') }}</p>
{% endif %}
        </section>
      </aside>
