<!DOCTYPE html>
<html lang="{{ content.site.language }}">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ content.title }}{{ content.site.title }}</title>
{% if content.description is empty %}
{% set description = content.site.description %}
{% else %}
{% set description = content.description %}
{% endif %}
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="{{ content.site.url }}/themes/twig/default/css/main.css">
  </head>
  <body>
{% include "header.html.twig" %}
{% block main %}{% endblock %}
{% include "footer.html.twig" %}
  </body>
</html>