{% extends "baseof.html.twig" %}
{% block main %}
{% if content.section is same as 'post' %}
        <header class="border-b border-gray-200 pb-6">
          <h1 class="text-xl font-bold">{{ content.title }}</h1>
        </header>
{% elseif content.section is same as 'category' %}
        <header class="border-b border-gray-200 pb-6">
          <h1 class="text-xl font-bold">{{ i18n.getText('header.category.prefix') }}{{ content.title }}</h1>
          <p>{{ content.description }}</p>
        </header>
{% elseif content.section is same as 'tag' %}
        <header class="border-b border-gray-200 pb-6">
          <h1 class="text-xl font-bold">{{ i18n.getText('header.tag.prefix') }}{{ content.title }}</h1>
        </header>
{% endif %}
{% for item in content.list %}
        <article class="border-b border-gray-200 pb-6">
          <header class="mb-3">
            <h2 class="font-bold py-2"><a href="{{ content.site.url }}/{{ item.key }}">{{ item.title }}</a></h2>
{% include "partials/post-meta.html.twig" %}
          </header>
          <p>{{ item.body }}</p>
        </article>
{% endfor %}
{% endblock %}