{% extends "layout.html.twig" %}
{% block main %}
{% if content.listing is empty %}
      <h2>{{ i18n.getText('no_posts_found') }}</h2>
{% else %}
{% for item in content.listing %}
      <article>
        <header>
          <h2 class="font-bold"><a href="{{ item.key }}">{{ item.title }}</a></h2>
{% if item.date is not empty %}
          <div class="text-xs p-0">
            <svg class="h-4 w-4 inline-block text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <time datetime="{{ item.timestamp }}" class="inline-block text-gray-500">{{ item.date }}</time>
          </div>
          <div class="p-0">
            <svg class="inline-block h-5 w-5 text-gray-300" viewBox="0 0 20 20" fill="currentColor">
              <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
            </svg>
            <span class="inline-block">{{ item.category.title }}</span>
          </div>
{% endif %}
        </header>
      </article>
{% endfor %}
{% endif %}
{% endblock %}