{% extends "layout.html.twig" %}
{% block main %}
{% if content.listing is empty %}
      <h2>{{ i18n.getText('no_posts_found') }}</h2>
{% else %}
{% for item in content.listing %}
      <article>
        <header>
          <h2 class="font-bold"><a href="{{ item.key }}">{{ item.title }}</a></h2>
{% if item.date is not empty %}
          <div class="text-xs text-gray-400">
<svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5 inline-block"" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
</svg>
          <time datetime="{{ item.timestamp }}" class="inline-block">{{ item.date }}</time>
          </div>
{% endif %}
        </header>
      </article>
{% endfor %}
{% endif %}
{% endblock %}