{% extends "layout.html.twig" %}
{% block main %}
{% if content.listing is empty %}
      <h2>{{ i18n.getText('no_posts_found') }}</h2>
{% else %}
{% for item in content.listing %}
      <article>
        <header>
          <h2><a href="{{ item.key }}">{{ item.title }}</a></h2>
{% if item.date is not empty %}
          <time datetime="{{ item.timestamp }}">{{ item.date }}</time>
{% endif %}
        </header>
      </article>
{% endfor %}
{% endif %}
{% endblock %}