<table class="">
  <thead>
    <tr>
      <th>{{ i18n.getText('admin.table_col.name') }}</th>
      <th>{{ i18n.getText('admin.table_col.desc') }}</th>
      <th>{{ i18n.getText('admin.table_col.usage') }}</th>
      <th>{{ i18n.getText('admin.table_col.actions') }}</th>
    </tr>
  </thead>
  <tbody>
{% for item in content.list %}
<tr>
  <td>{{ item.title }}</td>
  <td>{{ item.body }}</td>
  <td>?</td>
  <td>{{ i18n.getText('admin.table_col_action.edit') }} | {{ i18n.getText('admin.table_col_action.delete') }}</td>
</tr>
{% endfor %}
  </tbody>
</table>