        <nav id="toolbar">
          <ul>
            <li><a href="{{ content.site.url }}/{{ content.context }}">{{ i18n.getText('admin.dashboard.title') }}</a></li>
            <li><a href="{{ content.site.url }}/{{ content.context }}/">{{ i18n.getText('admin.toolbar.category.title') }}</a></li>
          </ul>
        </nav>
