{% if content.action == 'edit' %}
{% set action = 'update' %}
{% set label = i18n.getText('admin.form.label.update') %}
{% elseif content.action == 'delete' %}
{% set action = 'delete' %}
{% set label = i18n.getText('admin.form.label.delete') %}
{% else %}
{% set action = 'save' %}
{% set label = i18n.getText('admin.form.label.save') %}
{% endif %}
{% if key == 'category/uncategorized' %}
{% set disabled = ' disabled' %}
{% endif %}
  <div>
    <input type="hidden" name="action" id="action" value="{{ content.action }}">
    <input type="submit" name="{{ action }}" id="{{ action }}" value="{{ label }}"{{ disabled }}>
    <input type="submit" name="cancel" id="cancel" value="{{ i18n.getText('admin.form.label.cancel') }}">
  </div>
